* {
    border: 1px solid rgba(0, 0, 0, 0.0);
    /* border: 1px solid red; */
}

body {
    background-color: #131114;
    margin: auto;
    width: 70%;
    min-width: 60%;
}

h2 {
    color: ghostwhite;
    display: flex;
    flex-direction: row;
    font-family: 'Press Start 2P', arial;
    text-shadow: 0 5px 5px black;
    margin-left: 10px;
}

p {
    color: ghostwhite;
    font-family: 'Press Start 2P', arial;
    background-color: rgba(20, 19, 20, 0.6);
    text-shadow: 0 5px 5px black;
    line-height: 25px;
    display: inline-block;
    text-align: left;
    margin-top: 0;
}

#main {
    background-image: url(https://media.giphy.com/media/9B7XwCQZRQfQs/giphy.gif);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 640px;
    margin-bottom: 0;
    position: relative;
}

#main p {
    display: flex;
    flex-direction: row;
}

#bottom-main {
    width: 120%;
    height: 230px;
    background-color: rgba(20, 19, 20, 0.8);
    border: 3px solid rgb(155, 28, 95);
    border-radius: 5px;
    margin-left: -10%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#robot1, #robot2 {
    width: 80px;
}

#robot1 img {
    width: 80px;
}

#robot2 img {
    width: 80px;
}

#main-robot {
    width: 80px;
}

#main-robot img {
    width: 80px;
}


.button {
    border-radius: 3px;
    font-family: 'Press Start 2P', arial;
    color: ghostwhite;
    background-color: #47619B;
    box-shadow: 0 5px 2px rgb(155, 28, 95);
    text-shadow: 0 2px 2px black;
    padding: 6px;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.1);
    transition: .2s;
}

.main-robot-container {
    width: 90px;
    height: 200px;
    right: 20%;
    bottom: 0;
    position: absolute;
    display: inline-block;
    text-align: right;
}

.robot-container {
    width: 40%;
    height: 180px;
    left: 20%;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    position: absolute;
}

.heart-container {
    width: 260px;
    height: 50px;
    display: inline-block;
    float: right;
}

.heart-container2 {
    width: 260px;
    height: 50px;
    display: inline-block;
    float: right;
}

.heart-container img {
    height: 40px;
    width: 40px;
    display: inline-block;
    float: right;
}

.heart-container2 img {
    height: 40px;
    width: 40px;
    display: inline-block;
    float: right;
}

.first.choice, .second.choice, .third.choice {
    margin: 5px 5px 0 5px;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    background-color: #47619B;
    box-shadow: 0 5px 5px rgb(155, 28, 95);
    text-shadow: 0 2px 2px black;
    color: ghostwhite;
    font-family: 'Press Start 2P', arial;
    cursor: pointer;
}

.choice:hover {
    transform: scale(1.1);
    transition: .2s;
}
